@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

body {
    background-image: url(../rock-paper-scissors/img/me\ copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Palette Mosaic', cursive;
    font-size: 7em;
    text-align: center;
    color: rgba(13, 73, 13, 0.6);
}

#score-board {
    margin: 20px auto;
    /*border: 3px solid black; Helped to align players and scores*/
    border-radius: 4px;
    font-family: 'Palette Mosaic', cursive;
    text-align: center;
    width: 200px;
    color: black;
    padding: 15px 20px;
    font-size: 40px;
    position: relative;
}

.badge {
    font-family: 'Palette Mosaic', cursive;
    font-size: 35px;
}

#user-label {
    position: absolute;
    top: 17px;
    left: -80px;
}

#computer-label {
    position: absolute;
    top: 17px;
    right: -90px;
}

#result {
    font-family: 'Palette Mosaic', cursive;
    font-size: 40px;
    text-align: center;
}

#restart {
    font-family: 'Palette Mosaic', cursive;
    font-size: 40px;
    text-align: center;
}

#buttons {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
}

button {
    margin: 50px;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    cursor: pointer;
}

#rock {
    background-image: url(../rock-paper-scissors/img/rock.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#paper {
    background-image: url(../rock-paper-scissors/img/paper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#scissors {
    background-image: url(../rock-paper-scissors/img/scissors.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.action-message {
    font-family: 'Palette Mosaic', cursive;
    text-align: center;
    color: rgba(13, 73, 13, 0.6);
    font-size: 80px;
    margin: 0px;
}

.green-glow {
    border: 4px solid rgb(25, 230, 25);
    box-shadow: 0 0 10px rgb(11, 102, 11);
}

.red-glow {
    border: 4px solid rgb(245, 34, 34);
    box-shadow: 0 0 10px rgb(138, 20, 20);
}

.purple-glow {
    border: 4px solid rgb(150, 42, 238);
    box-shadow: 0 0 10px rgb(82, 23, 131);
}